
ReadingClub/.vs/ReadingClub/v16/.suo
ReadingClub/ReadingClub.ConsoleApp/obj/ReadingClub.ConsoleApp.csproj.nuget.g.targets
ReadingClub/ReadingClub.ConsoleApp/obj/ReadingClub.ConsoleApp.csproj.nuget.g.props
ReadingClub/ReadingClub.ConsoleApp/obj/ReadingClub.ConsoleApp.csproj.nuget.dgspec.json
ReadingClub/ReadingClub.ConsoleApp/obj/project.assets.json
ReadingClub/ReadingClub.ConsoleApp/obj/project.nuget.cache
ReadingClub/ReadingClub.ConsoleApp/obj/Debug/netcoreapp3.1/ReadingClub.ConsoleApp.pdb
ReadingClub/ReadingClub.ConsoleApp/obj/Debug/netcoreapp3.1/ReadingClub.ConsoleApp.genruntimeconfig.cache
ReadingClub/ReadingClub.ConsoleApp/obj/Debug/netcoreapp3.1/ReadingClub.ConsoleApp.dll
ReadingClub/ReadingClub.ConsoleApp/obj/Debug/netcoreapp3.1/ReadingClub.ConsoleApp.csprojAssemblyReference.cache
ReadingClub/ReadingClub.ConsoleApp/obj/Debug/netcoreapp3.1/ReadingClub.ConsoleApp.csproj.FileListAbsolute.txt
ReadingClub/ReadingClub.ConsoleApp/obj/Debug/netcoreapp3.1/ReadingClub.ConsoleApp.assets.cache
ReadingClub/ReadingClub.ConsoleApp/obj/Debug/netcoreapp3.1/ReadingClub.ConsoleApp.csproj.CoreCompileInputs.cache
ReadingClub/ReadingClub.ConsoleApp/obj/Debug/netcoreapp3.1/ReadingClub.ConsoleApp.AssemblyInfoInputs.cache
ReadingClub/ReadingClub.ConsoleApp/obj/Debug/netcoreapp3.1/ReadingClub.ConsoleApp.AssemblyInfo.cs
ReadingClub/ReadingClub.ConsoleApp/obj/Debug/netcoreapp3.1/apphost.exe
ReadingClub/ReadingClub.ConsoleApp/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
